k8s/setup_auth/token.csv
k8s/setup_auth/bootstrap.kubeconfig
k8s/setup_auth/kube-proxy.kubeconfig
k8s/setup_auth/ssl/ca.pem
k8s/setup_auth/ssl/kube-proxy-key.pem
k8s/setup_auth/ssl/kube-proxy.pem
k8s/setup_client/ca.pem
k8s/setup_client/admin.pem
k8s/setup_client/admin-key.pem
k8s/setup_dns_addon/kubedns-cm.yaml
k8s/setup_dns_addon/kubedns-sa.yaml
k8s/setup_dns_addon/kubedns-svc.yaml
k8s/setup_dns_addon/kubedns-controller.yaml
k8s/setup_dashboard/kubernetes-dashboard.yaml
.vscode/*
