ul#messageList {
    overflow: scroll;
    width : 20em;
    height: 15em;
}

#mqtt_mesg_div{
    width : 25em;
    height: 20em; 
    display: inline-block;
}

ul#server_info_ul > li{
    display: inline;
    margin: 5px;
}

div#server_info {
    width: 60%;
}

#ecg_demo{
    display: inline-block;
}
