ul#messageList {
    overflow: scroll;
    height: 10em;
}

div#server_info {
    width: 45%;
    display: inline-block;
}

div#mqtt_message {
    width: 45%;
    display: inline-block;
}

#ecg_demo{
    display: inline-block;
    width: 90%;
}

#msg_log_btn{
    cursor: pointer;
}
